@import 'framework/scss/default/variables.scss';

.groups{
	$cell-h: 40px;
	$cell-p: 10px; //padding
	$cell-p-cul: 10px; //padding
	$cell-border-color: #ddd;
	$cell-border-width: 1px;

	width: 100%;
	border-top: $cell-border-width solid $cell-border-color;
	border-bottom: $cell-border-width solid $cell-border-color;
	list-style: none;
	.cell{
		width: 100%;
		border-bottom:  p2r($cell-border-width) solid $cell-border-color;
		padding: p2r($cell-p-cul) p2r($cell-p);
		height: p2r($cell-h);
		line-height:  p2r($cell-h - $cell-p-cul*2);
		&.no-cell-height{
			height: auto;
			line-height: initial;
		}
		&:last-child{
			border-bottom: 0px;
		}
		&.align-item{
			display: flex;
		    -webkit-align-items: center;
		    align-items: center;
		}

		.cell-label{
			padding: 0  p2r(10px) 0 0;
		}
	}
}